[2020-07-20 21:39] void4main opened #3 "IndexError: bitarray index out of range"
Hi,

I have this message:

`ais_print = message.decode()`
and I get this:

`{'type': 5, 'repeat': 0, 'mmsi': 248659000, 'ais_version': 1, 'imo': 9745500, 'callsign': '9HA4748', 'shipname': 'CMA CGM PREGOLIA', 'shiptype': <ShipType.Cargo_HazardousCategory_A: 71>, 'to_bow': 183, 'to_stern': 12, 'to_port': 30, 'to_starboard': 2, 'epfd': <EpfdType.GPS: 1>, 'month': 7, 'day': 20, 'hour': 22, 'minute':

[2020-07-21 05:12] M0r13n commented on #3
Hey,

thanks your issue. Could you provide the exact raw message that leads to this crash?

Thank you

[2020-07-21 07:13] void4main commented on #3
Thanks, could you give me a hint how to get the raw message?

[2020-07-21 18:19] void4main commented on #3
I have two examples for now.
The decoding of part 1 is alwasy ok but part 2 leads to a crash:

**1)**
[code]

Traceback (most recent call last):
  File "./get2.py", line 34, in <module>
    ais_print = message.decode()
  File "/usr/local/lib/python3.7/dist-packages/pyais/messages.py", line 139, in decode
    return AISMessage(self)
  File "/usr/local/lib/python3.7/dist-packages/pyais/messages.py",

[2020-07-21 18:32] M0r13n commented on #3
Thank you again the messages. I will dig into it.

[2020-07-22 12:38] M0r13n commented on #3
So. I took a look at your issue. There wasn't actually a bug in the decoding itself.  Instead, you slightly  misused the interface.

When working with multi-line messages you need to assemble them **before** you can decode them.

So you either have to do it like this:

[code]

or with the newest release it is also possible to do soimething like this:

[code]

[2020-07-22 12:41] #3 closed

[2020-07-22 16:00] void4main commented on #3
Thank you, it helps!

(I get the data via antenna and udp broadcast, so it might get tricky to assemble the messages in the correct order but let's see .. :)

[2020-07-22 16:51] M0r13n commented on #3
Interesting. I thought about adding out-of-order message support. I might add this feature in a future release together with an UDPStream.

[2020-07-24 13:09] M0r13n commented on #3
Hey,

I integrated a native `UDPStream` in the newest release. It includes out-of-order message assembly. Usage is straight forward:

[code]

@void4main Would you like to check it out and give me some feedback on how it works for you?

Greetigs

[2020-07-25 19:34] void4main commented on #3
Hey, that's great. I'll test it asap ...

[2020-07-29 20:35] void4main commented on #3
I had some time to test it with live AIS data and it worked perfectly fine for me.
Since I get broadcasted UDPs I had to set an emtpy host address:
`host = ""
port = 10110`

It crashed once in the beginning but only inside the json conversion:
`message = msg.decode().to_json()` and I couldn't reproduce the problem.
With the UDPStream I inserted ~300.000 entries to my mongodb by now.

I had one mor

[2020-07-30 06:33] M0r13n commented on #3
I am happy to hear, that it works for you! :-)

If you observe any new issues or if you need another feature, feel free to open a new issue.

[2020-08-01 10:31] void4main opened #4 "AttributeError: 'NoneType' object has no attribute 'to_json'"
Hi,

I have this:

[code]

which returns

`None`

so if I pass this directly to convert it to json

`message = msg.decode().to_json()
`
I get:

Traceback (most recent call last):
  File "./get3.py", line 33, in <module>
    message = msg.decode().to_json()
AttributeError: 'NoneType' object has no attribute 'to_json'

to_json can't handle these types, might be a good feature for new minor release :

[2020-08-01 13:09] M0r13n commented on #4
Hey,

thanks again for the bug report!

This message itself is weird. I have never seen a type zero message. I also cound find any information regarding type zero messages. But they seem to be the same as type 1,2,3. I decided to add support them with the next release. This message has it's own testcase: https://github.com/M0r13n/pyais/blob/74df08e47ff0012d9fb771f66385526efc1e410f/tests/test_ais.p

[2020-08-01 14:34] void4main commented on #4
Thanks,

I have one more b'!AIVDM,1,1,,B,139fgIPP00Pe,0*63'
Probably some cheap device or for testing purposes.
Since the type 0 are not defined it might be better to not process them, maybe you can log them if some debuglevel is set.

When I check whether it is None, I cannot use message = msg.decode().to_json() anymore? That would be sad.
Maybe I'll find a way and send a pull request for a new t

[2020-08-01 15:09] M0r13n commented on #4
Well, if you really want to keep using this onliner, you could do this:

[code]

[2020-08-01 15:11] void4main commented on #4
That's good, thanks!

[2020-08-01 19:32] #4 closed

[2020-08-02 14:58] M0r13n commented on #4
I included the bugfix in the newest release. Feel free to upgrade and tell me how it works for you! 😎

[2020-08-02 21:38] void4main commented on #4
Like it, let's see 👍

[2020-10-15 15:28] asuagar opened #5 "ImportError: cannot import name 'OrderedDict'"
I am dealing with the issue described in the title. I am using Google Colab for dealing with the data (Python 3.6.9). [This is the notebook](https://colab.research.google.com/drive/1OdeWFdaf7N-J4uPEZ3qLQip8voWE4XMr?usp=sharing) with the code. It appears some problem related with the typing library. Also, you can download the ais used in [this link](https://www.dropbox.com/s/kpp3u035tbgdahb/2020101

[2020-10-15 17:16] M0r13n commented on #5
Thank you for this issue. I will dig into it at the weekend!

Greetings,
Leon

[2020-10-18 12:51] M0r13n commented on #5
I found the bug. I was importing from the wrong place. I changed:

[code]

 to

[code]

This should fix your issue. Please tell me, if it works for you now!

Greetings

[2020-10-19 14:00] asuagar commented on #5
Hello @M0r13n, thank you for your fast reply. I tried to run script again. The error has changed.

[code]

I think the problem is in the header of the line. "!SVADM," is adding an extrafield and, now, there are eight fields. I tried to avoid this error running the following code:

[code]
However I get a new error:

[code]

I cannot understand where is the problem. Thank you by your kindly attentio

[2020-10-19 19:25] M0r13n commented on #5
Hey,

you are correct. The lib only supports seven, comma separated values. You spotted the problem, but your approach was slightly off. If you do the following, it works:

[code]

it works. You didn't split the string correctly:

[code]

[2020-10-20 08:20] asuagar commented on #5
Thank you so much for the explanation. The header of the line helps the parser. Now, the code works! The last field could be a checksum.

https://en.wikipedia.org/wiki/Automatic_identification_system#Message_format

[2020-10-20 08:20] #5 closed

[2020-10-29 21:30] ajakz opened #6 "Decoding MMSI as int loses leading zeroes"
All of the messages in `pyais/decode.py` are decoding the MMSI value as an integer. However, if there are leading zeroes (which is possible and valid -- see [navcen documentation](https://www.navcen.uscg.gov/?pageName=mtmmsi)) they are going to be lost. In order to preserve the full original MMSI value, shouldn't these be parsed into strings?

[2020-10-30 05:37] M0r13n commented on #6
Hey,

thank you for the tip.

I think that you are right and these ints should rather be strings. But I am concerned that changing thing would break backwards compatibility. Maybe we should add an option to decide whether one wants a string or an integer?

I am open for discussion.

Greetings

[2020-10-30 16:36] ajakz commented on #6
Adding decoding to a string as an option sounds like a good idea to me.

[2020-12-15 22:11] bsyzek opened #7 "Decoding of Binary Payloads"
Thanks for the great module! Am I correct in understanding that the current code does not decode the binary payloads contained in AIS messages 6, 8, 25, and 26?

[2020-12-16 17:54] M0r13n commented on #7
Hi,

yes you are correct. The payload remains currently unchanged. I stumbled across some weird errors on some messages  when I tried to decode their payload. I then decided to leave it like that and never worked on it again. :-D

Tips and PR's improving that are welcome

[2020-12-16 18:07] bsyzek commented on #7
Thanks for the quick response! It's definitely a tricky problem with so many different types of binary payloads. I might take a stab at it, and if successful I'll definitely submit a PR.

[2020-12-16 18:07] #7 closed

[2020-12-16 18:25] M0r13n commented on #7
I would love to see it!

[2021-01-02 14:00] #6 closed

[2021-01-02 14:01] M0r13n commented on #6
I implemented this feature. From version `1.3.0` on MMSI's are not stored as integers, but as strings with leading zeros. See also #9

[2021-02-13 12:54] M0r13n opened #12 "Replace requirements file and list dev requirements in setup.py"
Remove requirements_dev.txt and  add the following to setup.py

[code]

One can then install the development environment via `python setup.py test`

[2021-02-13 12:55] M0r13n opened #13 "Add a console_scripts entrypoint"
It would be nice, if one would be able to install the package and have a program inside your terminal, that is able to decode AIS messages.

[2021-02-20 10:31] M0r13n commented on #12
Done with #14

[2021-02-20 10:31] #12 closed

[2021-02-20 10:35] M0r13n commented on #13
What I would like to have is a optional entry point . This should be a commandline utility that is able to:

- [ ] decode a file that contains ais messages
- [ ] connect to a socket via UDP or TCP and decode messages
- [ ] decode a single message

The user should be able to choose if the decoded output should be written to:

- [ ] a file
- [ ] stdout

[2021-02-23 13:15] #13 closed

[2021-03-23 11:24] doncqueurs opened #17 "Add UTC timestamp to decoded message when consuming stream"
Include the UTC timestamp in the output when they are fetched from a UDP/TCP stream.

[2021-03-28 11:37] M0r13n commented on #17
Hey there,

when you are talking about a UTC timestamp, you mean the time when the decoder received the message. Am I right? Because the AIS message itself does not contain such information.

The question is, where to add such additional information. Pyais distinguishes between NMEA messages and AIS messages. Both messages currently represent the NMEA or AIS protocol as accurately as possible. The

[2021-03-28 12:32] M0r13n commented on #17
I played around a bit and came up with the idea, of a `meta` field inside the `NMEAMessage` class. A decoded message could then look like this:

[code]

[2021-04-06 18:40] doncqueurs commented on #17
I think added it as meta data is the right approach.

[2021-04-06 18:44] doncqueurs opened #18 "Invalid NMEA message that halts the execution of a py script"
While receiving data from AISHUB, I got the following error message when I ran a script to create a separate json file for every minute. It seems to point to an invalid NMEA message. This error kills the script.

Unfortunately this happens every few minutes. It would be great if it just continues and drops the invalid nmea message.

Error message:

[code]

Code I used to run:

[code]

[2021-04-11 15:12] M0r13n commented on #18
This happens if a message has fewer than 7 comma separated parts. I guess that some other message or log message is sent by AISHUB. I added a heuristic check, that make sure to only parse lines that seem to be valid NMEA messages. By doing so, it is now also possible to parse textfiles that contain messages and comments.

https://github.com/M0r13n/pyais/pull/19

[2021-04-11 15:13] M0r13n commented on #18
@doncqueurs Can you try the current version and check if it works for you?

[code]

[2021-04-11 15:14] M0r13n commented on #18
@doncqueurs Could also provide a sample of the messages causing problems? Then I could try to fix em.

[2021-04-14 10:26] doncqueurs commented on #18
That is a bit the challenge, I haven't been able to capture the message and confirm it breaks.

I will try the new github code.

[2021-04-18 12:24] M0r13n commented on #18
I added even more type checks and made the stream interface more gentle. It just skips invalid messages or messages that is does not understand by default. So your issue should be resolved. If you are still experiencing any hickups, feel free to reopen this issue., :-)

[2021-04-18 12:24] #18 closed

[2021-04-26 05:09] zhangwanyu2020 opened #21 "the pyais can't be installed, how to fix it?"
hi ,
when i install the pyais , i got the error as follow:

"error: Microsoft Visual C++ 14.0 or greater is required. Get it with "Microsoft C++ Build Tools": https://visualstudio.microsoft.com/visual-cpp-build-tools/"

i have installed the Microsoft Visual C++ 14.0, it not works!

could you help me ?

thank you

[2021-04-27 16:02] asuagar commented on #21
Hello,

I have the same problem.

Best regards,
Andrés

[2021-04-28 14:11] asuagar opened #22 "Support for multiline AIS messages?"
Can multiline AIS messages be processed ? For example:

[code]
Best regards,
Andrés

[2021-04-28 14:22] asuagar commented on #22
Ok. I have just discovered it in the test files. It would be:

from pyais import NMEAMessage
msg = NMEAMessage.assemble_from_iterable(messages=[
            NMEAMessage(b"!AIVDM,2,1,5,A,53KQ<L01pv7ptTtN22059@DlU>2222222222220l1@D555V00:R0CRkp8888,0*41"),
            NMEAMessage(b"!AIVDM,2,2,5,A,88888888880,2*21")
        ]).decode().content

[2021-04-29 16:55] Allan-S-Menefee opened #23 "Make fields accessible by __getitem__"
I'm working with pyais and I'm finding the syntax NMEAMessage(blah).asdict()['mmsi']) clumsy. It should be possible to subscript these fields if NMEAMessage defined a __getitem__.

I will try to enter a pull request at some point, if I'm able to make time.

[2021-04-29 17:05] Allan-S-Menefee opened #24 "Could NMEAMessage contain fields for each field in raw?"
Having easy access to the results of `NMEAMessage(foo).raw.decode().split(',')` would make things neater for certain tasks, in case it's necessary to manually process those fields.

For example:
`!AIVDM,1,1,,A,15Mj23P000G?q7fK>g:o7@1:0L3S,0*1B`
would have fields:
`{'message_fragments': 1,
'fragment_number': 1,
'message_id': None,
'channel': 'A',
'payload': '15Mj23P000G?q7fK>g:o7@1:0L3S',
'fill_bit

[2021-04-29 17:33] #24 closed

[2021-04-29 17:33] Allan-S-Menefee commented on #24
It already does, it's just not in the dict. They're stored as attributes on the NMEAMessage.

[2021-04-29 20:01] M0r13n commented on #21
Hey,

could you provide me a stacktrace and/or error message? My guess is, that is has something to do with the bit array module. This is written in C and has Python bindings. It might depend on some special headers that are not part of the default installation in Visualstudio.

Kind regards,
Leon

[2021-04-29 20:04] M0r13n commented on #22
Hey,

nice that you found a solution. :-)

Actually, I would love to refactor this functionality. The interface is quite bulky and not very pythonic. As soon as time allows, I will invest some work in there.

Kind regards,
Leon

[2021-04-29 20:08] M0r13n commented on #23
Hey,

jep, you are definitely right. I believe that I tried it during the early days of Pyais. Back then I came across some kind of issue/error and stopped working on it. Anyway I would love to see a PR from you. Otherwise I will try to implement it, as soon as time allows!

Kind regards,
Leon

[2021-05-02 12:41] M0r13n commented on #21
Added a note on how to install pyais with VS in the newest documentation.

[2021-05-02 12:41] #21 closed

[2021-05-02 12:42] M0r13n commented on #22
Updated the documentation with some examples on how to parse multiline messages.

[2021-05-02 12:42] #22 closed

[2021-05-02 13:07] M0r13n commented on #23
Hey,

I made the `NMEAMessage` class subscriptable. You can now access it's fields via `[]`. See: https://pyais.readthedocs.io/en/latest/messages.html

Please note, that you provided `NMEAMessage(blah).asdict()['mmsi'])` as an example. This still won't work, because the `NMEAMessage` just capsules the NMEA message. It does not know or care about the actual payload. In order to access the `mmsi`, y

[2021-05-02 13:07] #23 closed

[2021-05-07 12:07] xiluzi opened #27 "how can i decode TYPE AIVDO Message?"
[code]
l try to decode it but failed. But I can decode in https://www.aggsoft.com/ais-decoder.htm
did i make something wrong?

[2021-05-07 15:05] asuagar opened #28 "How to decode invalid messages"
Hi,

I am dealing with a stream of AIS messages. Approximately 20 % are invalid. The library raises an exception and the message is not processed. For example, the following two:

[code]
The first one has the channel empty and the second has more than 82 characters. I inserted both of them in [maritec](https://maritec.co.za/tools/aisvdmvdodecoding) and the messages were decoded. The "only problem"

[2021-05-08 05:31] zhangwanyu2020 commented on #21
Thanks very much,  I  have fixed this error by downloading Microsoft Visual C++ 14.0 again on another website,  it works. Maybe the first Microsoft Visual C++ doesn't work, but the second does.

[2021-05-08 14:09] M0r13n commented on #27
Hey,

it seems that there is a bug in the library. Currently it raises an error if no Channel is given. Which is actually correct for AIVDM messages. But it is not correct for AIVDO messages.

I fill fix it.

Kind regards,
Leon

[2021-05-08 15:35] M0r13n commented on #27
The bug is fixed in the newest version of pyais (`1.6.1`).

Update with:

`pip install -U pyais`

[2021-05-08 15:35] #27 closed

[2021-05-08 15:38] M0r13n commented on #28
Hey,

these are acutally two bugs.

1. Empty channels caused an error. See also #27.
2. long messages were accidentally considered *too long*

Both issues have been fixed with #29 and are available with the newest version of pyais (`1.6.1`).

Update with:

`pip install -U pyais`

Kind regards,
Leon

[2021-05-08 15:38] #28 closed

[2021-05-12 11:33] asuagar commented on #28
Hi,

I have used the last pyais version for processing several days of AIS messages without any problem. Thank you so much for your time and fast response to the problem.

Best regards,
Andrés

[2021-05-12 12:10] M0r13n commented on #28
Hi,

nice to hear that! :-)

kind regards,
Leon

[2021-05-25 15:42] brucebookman opened #31 "Q&A"
**Single Messages**
"Supports single messages": Can someone recommend a library that decodes multi-line messages.  Or is there a work around that can leverage pyais?

I have code that can collate the message parts and put them all together in any manner a library might require.  All I need is one that then can decode.

**Message types**
"Currently, this module is able to decode most message types.

[2021-05-25 15:42] brucebookman commented on #31
P.S. libais, which is kinda out of date, seems to be able to decode every message type.  Could you use that as a guide?

[2021-05-25 17:03] M0r13n commented on #31
Hey there,

`pyais` supports multi line messages. A simple example can be found [here](https://pyais.readthedocs.io/en/latest/examples/single.html)

Regarding your question of supported messages:

It supports all message types. But it can not decode message specific payloads. This should be done by the user.

[2021-05-25 20:14] brucebookman commented on #31
Oh this is fantastic news.  Sorry I did not read carefully.  Thank you so
much

On Tue, May 25, 2021 at 10:03 AM Leon Morten Richter <
***@***.***> wrote:

[2021-05-25 20:14] brucebookman commented on #31
Can you elaborate on this "But it can not decode message specific
payloads".   Perhaps give an example of where the specific payload is not
decoded

On Tue, May 25, 2021 at 1:13 PM Bruce Bookman ***@***.***>
wrote:

[2021-05-25 23:56] brucebookman opened #32 "decode.py: decode_msg_23 should have 'shiptype' not 'ship_type'"
There are two different keys for ship type.  Please only use one.

`
decode_msg_5 ...
      'shiptype': ShipType(get_int_from_data(232, 240)),
decode_msg_19 ..
      'shiptype': ShipType(get_int_from_data(232, 240)),
...
decode_msg_23 . . .
      'ship_type': ShipType(get_int_from_data(114, 122))

`

[2021-05-28 10:58] M0r13n commented on #31
This applies to messages of type 6, 8, 25, and 26. These messages have in common, that they contain unspecified binary payload.

- Message type 6: `data` field with up to 920 bits of binary payload
- Message type 8: `data` field with up to 952 bits of binary payload
- Message type 26: `data` field with up to 128 bits of binary payload
- Message type 27: `data` fiield with up to 1004 bits of binary

[2021-05-28 14:55] brucebookman commented on #31
Thank you for the clarification.  I'd recommend adding that detail to the
readme.  And thanks for the great library!

On Fri, May 28, 2021 at 3:59 AM Leon Morten Richter <
***@***.***> wrote:

[2021-05-29 09:54] M0r13n commented on #31
You are totally right. I will do this as soon as I can. I'll keep this issue open until then as a reminder for myself.

[2021-06-02 11:11] pml-jpe opened #33 "Problem connecting to UDP server"
Hi all, I am trying to use pyais to read a UDP output from an AIS receiver on the network. I can read it fine using `netcat`:

[code]

However if I try the following Python code:

[code]

I get the error:

[code]

Also I tried the commandline utility and same issue:

[code]

My OS is Ubuntu 20.04 and Python 3.8.5. Does anyone know what the error is? Thank you

[2021-06-02 11:47] pml-jpe commented on #33
OK I made some progress, if I run the AIS receiver in client mode and make my workstation act as server, and bind the socket to the `eno1` interface rather than localhost, it seems to work.

However due to the extra rubbish on each line that precedes the NMEA message, I get this error in Python:
[code]

[2021-06-06 09:33] M0r13n commented on #32
Done. Will be available in the next release

[2021-06-06 09:33] #32 closed

[2021-06-06 09:50] M0r13n commented on #33
Hey there,

I guess that there is a bug:

[code]

`socket.bind` only works for local interfaces. This is why, you got an `Errno 99` when trying to connect to an external IP.

I will look at this.

[2021-06-06 09:51] M0r13n commented on #31
Closed with #35.

[2021-06-06 09:51] #31 closed

[2021-09-10 10:08] grndng opened #37 "Exception when trying to decode multipart payloads"
When trying to decode messages with the `decode_msg` function, I run into the exception that the message is not currently supported (in the file _decode.py_). I've checked out the file but don't understand what the problem is. One AIS payload that was encoded correctly looks as following:
[code]

and it works right until I run into a message with `!AIVDM,2`:
[code]

Is multipart payload decoding n

[2021-09-11 10:19] M0r13n commented on #37
The error message that you get is misleading. Trying to decode a multipart message without its predecessor will yield this error, because the payload can not be decoded properly.

In the [documentation]((https://pyais.readthedocs.io/en/latest/examples/single.html#examples)) I point out that `decode_msg` is only a convenience function for quick experimenting/testing. It is designed to decode a sing

[2021-09-11 10:19] #37 closed

[2021-09-11 11:03] M0r13n commented on #37
I added more useful error messages: https://github.com/M0r13n/pyais/pull/38

[2021-11-11 08:08] yves84 opened #39 "Wrong Value in turn field (AIS1-3) ?"
Hi,

Here an output from an ais msg:

[code]
The "turn"-Field with -128 is not correct i think. A value of 128 (positiv) is the value for "no information" and it is not possible to save -128 with 8 bits (singed int -127 - 128).

Ty & Gz!

[2021-11-11 09:03] yves84 commented on #39
I'm sorry. Was my mistake. The range is -128:127.

In https://gpsd.gitlab.io/gpsd/AIVDM.html#_types_1_2_and_3_position_report_class_a

there compare the "raw" value 0x80 -> -128 (But write only 128). I was confusing...

[2021-11-11 09:03] #39 closed

[2021-11-15 15:22] bwallinspire opened #40 "Non-deterministic results from 'decode_msg'"
I am seeing some non-determinism in `decode_msg` output, e.g.:

[code]

Memory overflow? This AIS message itself seems short but I would expect an error if it was unexpected length?

python: 3.9
pyais: 1.6.2
bitarray: 2.3.4

[2021-11-15 17:18] M0r13n commented on #40
@bwallinspire Thank you for bringing this up. That’s a weird issue. I will take a look at it as soon as possible.

[2021-12-03 15:35] M0r13n commented on #40
@bwallinspire

I could reproduce your error. It reason is, that I missed quite a few length checks. Therefore, the lib was reading data out of bounds. I am not quite sure, why the `bitarray` module allowed access to data outside the array, but I added length checks.

Now, the lib returns `None` for fields that are outside the message. All unittests succeed, but I need to please mypy. This will be

[2021-12-05 14:55] #40 closed

[2021-12-05 15:02] M0r13n commented on #40
@bwallinspire

You can now install the fixed version `1.6.3`:

`pip install pyais==1.6.3`

[2021-12-16 16:13] resistance22 opened #42 "There is no way to gracefully break out of a stream"
Hello There
In UDPStream, TCPStream when you enter the loop there is no way to break out of the loop when there is **no message incoming** from UDPStream,TCPStream so using a UDPStream, TCPStream in a GUI application with the capability of starting and stopping the stream is impossible.

[2021-12-17 13:05] M0r13n commented on #42
Hi @resistance22,

I think there is a misunderstanding here. The two classes mentioned are simple wrappers around the socket API. As such, the two interfaces behave exactly like normal sockets. This means that you, as the designer, will have to decide what the rules of etiquette are for a conversation.

pyais will only ask the kernel to create a new socket and then try to connect to the remote soc

[2021-12-20 13:48] #42 closed

[2021-12-27 15:31] resistance22 commented on #42
Dear @M0r13n Thanks for responding, I read the code and got a grasp of what's going on.

[2021-12-29 14:02] M0r13n opened #44 "Add missing encoders"
Currently, the following messages are supported:

- [x] Typ 1
- [x] Typ 2
- [x] Typ 3
- [x] Typ 4
- [x] Typ 5
- [x] Typ 6
- [x] Typ 7
- [x] Typ 8
- [x] Typ 9
- [x] Typ 10
- [x] Typ 11
- [x] Typ 12
- [x] Typ 13
- [x] Typ 14
- [x] Typ 15
- [x] Typ 16
- [x] Typ 17
- [x] Typ 18
- [x] Typ 19
- [x] Typ 20
- [x] Typ 21
- [x] Typ 22
- [x] Typ 23
- [x] Typ 24
- [x] Typ 25
- [x] Typ 26
- [x] Typ 27

The sco

[2022-01-12 02:25] Inrixia opened #46 "Decoding messages with a unexpected bit_arr length silently fails returning None"
When decoding messages, if the `bit_arr` length is less than what is needed for every property expected to be decoded `None` is returned with no error.

Test Code:
[code]

As you can see below I have commented out several properties except for `assigned` which attempts to access index 270 of the `bit_arr`.
When this is uncommented the returned value is None, however when commented (there are no pr

[2022-01-12 02:35] Inrixia commented on #46
Figured out why the error is not being returned the silent property for decoding defaults to true hiding errors...
[code]

[2022-01-12 02:42] Inrixia commented on #46
Ok so looking at the message type 21 it looks like its length can actually be variable depending on the Name field which precedes others. https://gpsd.gitlab.io/gpsd/AIVDM.html#_type_21_aid_to_navigation_report

So this should be fixable by following the note mentioned on the link above stating ` A decoder can deduce the bit length of the name extension field by subtracting 272 from the total mess

[2022-01-12 02:52] Inrixia commented on #46
I'm thinking the issue is the message being decoded is part of a multipart message so even though the first section of data is fine the missing parts still result in a error being throw.

[2022-01-12 04:21] Inrixia commented on #46
Nevermind, getting a lot of errors with single part messages too.
`!AIVDM,1,1,,B,E>lt;KLab21@1bb@I@@@@@@@@@@D8k2tnmvs000003v0@,2*52` This for example fails as the last bit is missing, yet it has a valid checksum...

[2022-01-12 04:24] Inrixia commented on #46
The fact that any exception that occurs during decoding is caught and thrown as `pyais.exceptions.UnknownMessageException` makes it unnecessarily difficult to decode issues...

[2022-01-12 05:31] Inrixia commented on #46
So the issue with this and others appears to be that it's missing the last bit for the `assigned` property. I'm looking into if this is just a small subset of type 21 messages or a larger issue.

[2022-01-12 06:20] Inrixia commented on #46
So looking over everything testing with 6 million records type 21 reports make up about 1%, while 40% of type 21 reports encounter this error and type 21 reports are getting 50x more errors than other types. Not sure if this is just due to type 21 reports being unlucky or if there is something funky with that last bit causing valid messages to be dropped....

On the one hand the bit is missing so

[2022-01-15 12:41] M0r13n commented on #46
Hey @Inrixia,

thank you for bringing this up. Sadly, I am aware of this issue. This is why I started to refactor the whole project a while ago.

I began to implement a more reliable and generous approach for encoding messages. You can see the current state by looking at [encode.py](https://github.com/M0r13n/pyais/blob/master/pyais/encode.py). I still need to figure out, how to refactor the existi

[2022-01-15 12:51] Inrixia commented on #46
Ah thanks it certainly is a interesting problem. Having had a brief look over the rewrite it looks promising.

Ideally it would be possible to optionally allow for messages missing bits to be decoded, especially if the checksums are valid.

As for the refractor I would think it's best to increment a major version number and just accept breaking changes. It would be a good opportunity to have thing

[2022-01-15 12:53] M0r13n commented on #46
Part of the underlying issue is, that the NMEA specification is not freely available. Therefore, many decoders and encoders rely on unofficial resources like https://gpsd.gitlab.io/gpsd/AIVDM.html. According to this *specification* Type 21 messages should have between 272 and 360 bits:

So it seems that you example message "!AIVDM,1,1,,B,E>lt;KLab21@1bb@I@@@@@@@@@@D8k2tnmvs000003v0@,2*52" is actua

[2022-01-15 12:58] Inrixia commented on #46
Yep this is the conclusion I came to. As for why roughly 50% of type 21 messages encounter this I don't know, it's certainly weird but I do beleive that failing to decode due to the missing bit is expected behavior with the current state of the library.

Though as mentioned above having the ability to decode messages with a valid checksum and none values where the bits end early could be benificia

[2022-01-15 13:02] M0r13n commented on #46
Generally I think that it it best to be very liberal in what to accept as the standard seems to be mostly a *rough guideline* for most encoders. :-D

To allow for more liberal decoding I am planning to slightly change the way of accessing parts to the message. If we look at the decoding now, we can see, that I am currently slicing the bitarray explicitly:

[code]

By doing to, it is obvious that t

[2022-01-15 13:04] Inrixia commented on #46
My thoughts exactly. Though I would use None over a default to make it clear that no value was decoded, using a default would be misleading.

[2022-01-15 13:05] M0r13n commented on #46
Using None has the disadvantage that a user of the library would need to perform a None check explicitly for every message. This may lead to bugs and a lot of boilerplate code.

[2022-01-15 13:07] M0r13n commented on #46
Also type signatures would become messy

[2022-01-15 13:08] Inrixia commented on #46
Assuming allowing partial decoding is enabled by default I would assume that a flag would be provided on each decoded object if it failed to completely decode (easy to do just set it/remove it at the end). So a user would only need to check the flag, or set a option to have default values returned. But returning defaults is worse imo as it would allow for a user to not check the flag and treat inv

[2022-01-15 13:21] M0r13n commented on #46
I will need to think about this, we time has come. But this is a fairly small implementation detail, which can be changed easily later on. As my time is limited, I am planning the following steps:

1. I will finish my work on the encoding of messages, as this adds a class for every message
2. I will tackle this issue

Never the less, I am thinking about a quick fix for this issue:

We could change

[2022-01-15 13:34] Inrixia commented on #46
I would be happy to assist in the rewrite, if you want help.

That sounds like a good plan. But I don't think a quick fix of returning 0 would work as 0 is a valid value for many properties, especially considering that boolean values are returned as ints currently where `0 = False` (another thing that could be fixed in the rewrite). I don't think there's a major need to try and fix this on the cur

[2022-01-15 13:37] Inrixia commented on #46
The main thing is being able to identify bad/failed properties if partial decoding is enabled. For me at least I can only allow for either a fully decoded object or one where I know exactly what properties failed or are missing. Having a partial one where I don't know what properties could be invalid would make the object useless as I couldn't trust the data

[2022-01-15 13:37] M0r13n commented on #46
Boolean and Integers are actually the same objects in Python, so I dont see any need to return a boolean:

[code]

[2022-01-15 13:38] Inrixia commented on #46
When accessed by other libraries or serialized out to json it is interpreted as a integer though requiring casting beforehand.

[2022-01-16 13:53] #44 closed

[2022-01-16 13:54] M0r13n commented on #46
@Inrixia

I finished my work on adding support for encoding messages. So now there are classes for every message, which should make a iterative decoding approach quite feasible.

I hope that I will find time to work on this soon.

[2022-01-16 23:14] Inrixia commented on #46
Sounds good, I would be happy to implement partial decoding myself and do a pull request but looks like only the encoding is using the new classes so will hold off until I know what you intend for the decoding.

[2022-01-22 14:42] M0r13n commented on #46
Hey @Inrixia,

I added a very basic proof of concept on how we could reuse the existing classes used for encoding.

See the following method: https://github.com/M0r13n/pyais/blob/d643ebe6c1839443ca76277e7464357bceeeb558/pyais/encode.py#L245

Actually, it would be fairly easy to reuse the classes without too many changes. I am thinking of the following:

1. Get rid of the `encode.py` and `decode.py

[2022-01-24 13:35] Inrixia commented on #46
Looks good

[2022-01-29 15:55] M0r13n commented on #46
I implemented most of the logic. So the new structure of the project is basically done. The following things still need some love:

- the iterative decoding is not yet fully tested
- bad/invalid/fishy messages are not marked as such
- the streaming interfaces for sockets and files need to be tested
- the documentation needs to be updated

But most of the work should be done. Overall I am quite hap

[2022-01-29 16:05] M0r13n commented on #46
I also decided, to publish the refactored library under a different name. Currently, there are at least 11 dependent packages of this lib. And because the interface changed significantly this could cause some irritation/confusion. I am thinking about the name `pyais-2`.

[2022-02-01 04:08] Inrixia commented on #46
Awesome, is the refactor just going to be on a seperate branch then?

[2022-02-01 07:38] M0r13n commented on #46
Not sure yet. I am think about moving the current state to a different branch (e.g version-1). Then Main would be the place for the new, active development.

[2022-02-06 15:16] M0r13n commented on #46
@Inrixia Sooo. Everything should be done. You can preview the newest version by installing: `pip install pyais==2.0.0-alpha`.

May I ask you to install this version and mess around with it? I would love to get some feedback on bugs or errors that I may have missed. :-)

[2022-02-06 15:24] M0r13n commented on #33
This issue will be resolved by upgrading to v2.0.0, which will be released in the next few weeks.

[2022-02-06 15:24] #33 closed

[2022-02-08 05:26] Inrixia commented on #46
Happy to test it and see how things go. Could I get a link to the repo/branch that contains the new code?

Thanks :)

[2022-02-08 16:04] lalmiAhmed opened #49 "messages with missing sequential ID number or grater than 9"
I used this library to decode coming NMAE data from an AIS receiver, I don't really have that deep understanding of the working principle on NMEA messages but from what I found that the fourth number after the comma which is the sequential ID should be from 1 to 9
However on my case I faced two uncommon types where sometimes the sequential ID is 10, or just empty which will leads to "not supported

[2022-02-08 16:09] M0r13n commented on #49
@lalmiAhmed You are right. This is something that is going to be fixed in v2. I am currently preparing a release of version 2. A lot of things will be fixed them. See also: https://github.com/M0r13n/pyais/issues/46

[2022-02-14 02:42] Inrixia commented on #46
Have tested using the new library on a few messages and looked into how it will integrate. Have not done an extensive test across message types to check for errors yet.

The good:
- Boolean values are fixed
- Partial decoding works with None properties set as expected. Though looking at the code defaults are all set to `0` so I am confused as to how `attr.ib` is interpreting this, perhaps you can

[2022-02-14 02:49] Inrixia commented on #46
Oh I should also note that currently I am merging the `NMEAMessage` attributes with the `decoded` attributes,
This is done using the following code:
[code]
and then
[code]

Might be nice to have this merging supported directly by the library as the values provided by `NMEAMessage` are useful and critical for multi part decoding if not using the libraries built in functionality for doing so.

[2022-02-20 15:16] M0r13n commented on #46
@Inrixia Thanks four your detailed reply. :-)

That's not so easy to achieve, because passing `None` to any Enum would result in a `ValueError: None is not a valid Enum`. To keep things simple, I therefore decided that every *unknown* value should result in some default value being returned. For example passing `None` to `EpfdType` returns `EpfdType.Undefined`. Is there a legitimate usecase where

[2022-02-20 15:19] M0r13n commented on #46
@Inrixia

Can you try it again? :-)

` pip install git+https://github.com/M0r13n/pyais.git@iterative-decoding`

[2022-02-21 00:42] Inrixia commented on #46
Yes, the enum only exists in the context of python so as soon as you want to write out the data to anything outside of python ie a file or database when serializing it the enum is turned into a int, there is a big difference between a default int value and `null`/`None`.
If every enum uses the same int for its "None" value then it could be cast to `None` when serializing at the cost of a performan

[2022-02-21 00:54] Inrixia commented on #46
Yep I'll checkout the new `asdict` functionality, but I doubt I will have any feedback for it.

Currently the only things left is the issue with `None` for enums and performance considerations. Once those are resolved I intend to properly test the changes by re-decoding my current dataset of roughly ~7Billion reports.
Ideally with partial decoding the number of reports that are possible to decode

[2022-02-28 02:49] Inrixia commented on #46
That looks great.
Can I just `pip install git+https://github.com/M0r13n/pyais.git@iterative-decoding` to test?

[2022-02-28 20:11] M0r13n commented on #46
Yep. That should work.

[2022-03-01 00:43] Inrixia commented on #46
Looks like there is a issue with `asdict` attempting to cast enums which are None...
[code]

[2022-03-01 02:13] Inrixia commented on #46
These are the current errors I'm seeing with a 10mil test dataset.
Looks like everything is good aside from the above `ENUM NoneType` issue

|decodingError

[2022-03-02 01:39] Inrixia commented on #46
Also just want to double check have any of the types changed for values returned compared to v1 aside from the Booleans and Enums?

[2022-03-02 02:38] Inrixia commented on #46
Here are the error metrics using the fix in https://github.com/M0r13n/pyais/pull/50 on a large test dataset of ~230M reports.

|decodingError

[2022-03-02 02:49] Inrixia commented on #46
Performance wise at least for my pipeline which includes some advanced multi part decoding I got roughly 27k/s/core (reports per second per core) which is pretty good. Note this includes things like writing out data so the actual perfomance of just the pyais library will be faster.

[2022-03-05 13:51] M0r13n commented on #46
@Inrixia

Thank you very much for your detailed tests - I really appreciate it. :+1:

This is closed thanks to your PR. I also added a unittest for this.

This is also fixed and should not occur anymore. The reason was, that the `converter` function was called, even if the value was None, which could lead to errors. Now None values are simply omitted. Matching unittests were added.

This seems lik

[2022-03-05 15:34] Inrixia commented on #46
Not technically an error those are part 2 messages that were unable to be matched to a part 1 (I'm not using the built in matching from pyais), something you can ignore.

Unfortunately it's not publically available and I don't have permission to share it sorry <3

Definitely looks like it, if you want to wait a day or two I will re-decode the ~203M test dataset with the new changes to see if anyth

[2022-03-06 13:03] M0r13n commented on #46
@Inrixia

I guess that I wait for you to decode the ~203M dataset. The new version will then be published next weekend! :-)

[2022-03-07 01:32] Inrixia commented on #46
Here is the result using the latest version:

|decodingError

[2022-03-07 09:39] Inrixia commented on #46
Here are the results using the full dataset, a few new edge cases but overall extremely good.

 |decodingError

[2022-03-13 11:35] imbytecat opened #51 "Incorrect latitude and longitude"
I found that the latitude and longitude were faulty and they swapped positions causing the error.

[2022-03-13 12:31] M0r13n commented on #51
@imbytecat Thanks for your report. Could you provide some more details? Which message was affected? Examples to reproduce the error would be great.

[2022-03-13 12:37] M0r13n commented on #46
@Inrixia

Thanks again for your valuable input. I looked at those `IndexError`'s. Those were indeed bugs still present in the code. These errors occurred for messages of type 22, 25 or 26. If these messages are very short pyais tried to access an element from the bit array, that did not exist. Example messages were:

- `!AIVDO,1,1,,A,F0001,0*74` (type 22)
- `!AIVDO,1,1,,A,Ig,0*65` (type 25)
- `!AI

[2022-03-13 12:44] M0r13n commented on #49
Closed with #46

[2022-03-13 12:44] #49 closed

[2022-03-13 12:46] M0r13n commented on #46
Version 2.0.0 is released. I would suggest that we treat new errors in dedicated issues. This thread is already quite huge and covers lots of different topics.

[2022-03-13 14:03] dziban303 opened #52 "in v2-alpha, MessageType21 payload includes shipname, which I think should just be name"
In messages.py:

[code]

I believe `shipname` should simply be `name`, which is what's listed in that [gitlab URL](https://gpsd.gitlab.io/gpsd/AIVDM.html#_type_21_aid_to_navigation_report).

I found this when testing a script I use which displays ship names my receiver is picking up. With ~v1.7 I would get only the shipnames, but with v2 in addition to ships I'd get A, B, C, 1, 2, etc., which are

[2022-03-13 14:39] M0r13n commented on #52
@dziban303

You are totally right. Thanks for bringing this up. Will be closed with #53

[2022-03-13 14:41] #52 closed

[2022-03-17 09:03] Inrixia commented on #46
Awesome! And yes this did outgrow its initial cause. Thanks again for the help

[2022-03-17 09:03] #46 closed

[2022-03-18 01:04] Inrixia opened #54 "Speed and other fields returning unexpected values"
For some fields I'm getting speed and other field values as a integer rather than a float.

Looking at this segment https://github.com/M0r13n/pyais/blob/cc47fb1bf56eaabceb1657770d986a3172bac19a/pyais/messages.py#L794-L818

I'm somewhat confused as the type given to `bit_field` is `int` for everything while properties like speed/lat/lon etc should all be floats.
Also shouldn't the defaults be `None

[2022-03-18 10:38] Nambarc opened #55 "RAIM field integer in message type 4, otherwise boolean?"
I've found in messages of type 4 the RAIM flag is an integer. But for other messages it is a boolean? I'm not sure if this is a bug or by design?

[2022-03-18 12:20] imbytecat commented on #51
Sorry, after I checked I found that this should be my misunderstanding.
This is a problem that happened when I was using the leaflect.js library.
String geo-points are "latitude, longitude", while array geo-points are [longitude, latitude]—the opposite order.

Your code is great and has helped me a lot!

[2022-03-18 12:21] #51 closed

[2022-03-19 14:34] M0r13n commented on #55
Nope, your are right. Will be fixed with #56

[2022-03-19 14:34] #55 closed

[2022-03-19 14:39] M0r13n commented on #54
@Inrixia Thanks for bringing this up.

This is right and should be fixed. Seems like artifacts from copy and pasting :-D

These default values (e.g. `default=0`) are only used when **encoding**. This is done, so that the user does not have to pass all values, but only a few. When **decoding** these values are never used. For each field of the message there are only two cases:

- the message is lon

[2022-03-19 14:41] Inrixia commented on #54
Sounds good, what branch can I install to test?

The main cause of this issue being opened was tons of reports having 0 instead of 0.0 which caused typing issues with stuff further down the pipeline, so want to check if that's fixed with your changes.

[2022-03-19 19:22] M0r13n commented on #54
There is no branch yet 😀

[2022-03-20 11:53] M0r13n commented on #54
Now there is a branch: #57

@Inrixia Do you want to try it out?

[2022-03-21 14:15] AllNamesWereTakenIsNotAvailable opened #58 "ValueError: invalid literal for int() with base 16: b''"
Maybe this is not as intended?

I am parsing a file of all sorts of bad data and decoding it; I handle the exceptions; however this seems like a bad way to handle a missing checksum?

!AIVDM,1,1,,A,100u3FP04r28t0<WcshcQI<H0H79,0

`Traceback (most recent call last):
  File "pyais_test.py", line 14, in <module>
    decoded = pyais.decode(i)
  File "c:\Python38\lib\site-packages\pyais\decode.py", lin

[2022-03-21 23:48] Inrixia commented on #54
Hey, sorry for the delay in replying. Have tried out the changes and looks promising. There a bunch of comments on the PR highlighting some more issues though.

[code]

This is the current schema I have for all possible fields the library can return, is it accurate? Looking at the number of potential errors and gotchas I think it is probably a good idea to nail down the expected types for all fiel

[2022-03-22 21:59] Nambarc commented on #17
I agree with you @M0r13n. NMEA messages don't contain a time stamp, so neither should this library. In my opinion it's up to the user of the library to timestamp their own data. This is made easy because the library allows the messages to be converted into a dictionary.

[2022-03-22 22:45] Nambarc opened #59 "int_to_bin assumes signed integer when converting to bytes"
Problem was found when encoding a dictionary back into a NMEA message.

In the int_to_bin function in the util.py file, the second to last statement converts the value into bytes and then into a bit array. However, when the value is converted to_bytes it always assumes the value is signed.

I ran into an issue when encoding a message type 5 that had a draught value of 12.8. 12.8 gets multiplied up

[2022-03-26 11:52] M0r13n commented on #54
Hey  @Inrixia,

Most of them seemed to be incorrect, because the user did not look into the spec closely enough.

I went across all types and compared their type to the specification I found on https://gpsd.gitlab.io/g. I am pretty sure, that we found most of the issues.

[2022-03-26 12:07] M0r13n commented on #54
I got this output for all types:

[code]

[2022-03-26 12:09] M0r13n commented on #54
I also added a unittest that make sure that the types are identical for all messages: https://github.com/M0r13n/pyais/blob/5e0d5fbf85a8174c47728d43424ac7a3d7a6cde8/tests/test_decode.py#L932

[2022-03-26 12:45] M0r13n commented on #58
@AllNamesWereTakenIsNotAvailable Yes, you are right. Will be fixed with #60 and will be available in the next release.

[2022-03-26 12:46] #58 closed

[2022-03-26 13:16] M0r13n commented on #59
Hey @Nambarc,

thanks for bringing this up. You are right. This will be fixed with #61 and will be available in the next release.

[2022-03-27 11:51] #54 closed

[2022-03-27 11:59] M0r13n commented on #54
Released with v2.0.3.

https://github.com/M0r13n/pyais/releases/tag/v2.0.3

[2022-03-27 12:28] Inrixia commented on #54
Will check it out, thanks again for the update

[2022-03-28 01:44] Inrixia commented on #17
I also agree, this should be on the user and not part of the library. There is no point in including it.

[2022-03-28 04:03] Inrixia opened #63 "Incorrect decoding field types"
After the changes made in https://github.com/M0r13n/pyais/issues/54 I decided to check the field types for every message type in the decoder against the docs.

I have found a number of fields which have incorrect or inconsistent types, I have detailed them all below to be fixed.

## All Types

The naming is inconsistent for `spare` and `regional`, `MessageType18` has `reserved` and `reserved_2` ra

[2022-03-28 05:35] tangchenggang commented on #27
the print message just like this:MessageType1(msg_type=1, repeat=0, mmsi='247061100', status=<NavigationStatus.UnderWayUsingEngine: 0>, turn=0, speed=1.2, accuracy=0, lon=23.268065, lat=37.900988, course=273.0, heading=258, second=48, maneuver=<ManeuverIndicator.NotAvailable: 0>, spare=0, raim=False, radio=34527)
how could i output the message in csv format?

[2022-04-02 12:35] M0r13n commented on #27
Hey @tangchenggang

I added an example for you:

[code]

[2022-04-02 13:12] M0r13n commented on #63
Hey @Inrixia :-),

_1, _2 etc should be used for all fields which have multiple instances such as reserved and spare.

Yep.

Yep.

As the docs say renders as float, I believe this is actually meant to be a float.

This is a little bit more complicated than that. Currently the lib returns the **raw** values for `turn`. That are values between -127 and 128 and are Integers. You, on the other hand, a

[2022-04-06 02:20] Inrixia commented on #63
100% correct I incorrectly thought that you were returning the binary values as a integer of 0's and 1's.
However returning as a `int` is still really not ideal as for message types which have a large data field such as [Type 17](https://gpsd.gitlab.io/gpsd/AIVDM.html#_type_17_dgnss_broadcast_binary_message) the integer value that represents binary data can grow to massive sizes even for a `bigint

[2022-04-10 10:52] M0r13n commented on #63
Seems legit. I also added some handy conversion functions `bits2bytes` and `bytes2bits`. I also decided to encode those bytes as Base64, when using the messages `to_json()` method.

This would mess up the code, due to how `attrs` works. We would need to add additional logic to handle raw fields and *interpreted* fields differently. So I decided to add `rate_of_turn` as a nice property, which can b

[2022-04-10 23:27] Inrixia commented on #63
I presume that `asdict()` will still return the binary fields as `bytes` though yes?

Right, I was just confused as I tried accessing it even outside of `asdict()` and was unable to. But as long as it doesn't impact performance I have 0 need for it so it doesn't affect me. That said perhaps you should look into it if you want to make it available for use, or perhaps I am was just incorrectly tryin

[2022-04-11 13:39] M0r13n commented on #63
Yes, [see](https://github.com/M0r13n/pyais/blob/f3064ddebf0647e286ca8296cbe737eeef9a88d7/tests/test_decode.py#L257)

I just followed your suggestion and made them all bytes. Personally I don't really care, so bytes are totally fine for me :-)

Done. [See](https://github.com/M0r13n/pyais/blob/f3064ddebf0647e286ca8296cbe737eeef9a88d7/tests/test_decode.py#L22). This method iterates over all attribute

[2022-04-12 10:39] M0r13n commented on #63
I think that we were talking at cross-purposes all along. :laughing:

- I was focused on the fact that the decoded values always have the data type defined by respective class (e.g. a mmsi is actually of type str and not int, etc.)

- You, on the other hand, aimed at the fact that identical fields also have identical data types across all classes

I guess that both concerns are valid and do comple

[2022-04-12 10:42] Inrixia commented on #63
Awesome! And I suspected that removing the string conversion might speed things up a bit

Please link me the branch once you are done with the changes and I can take a look/run some tests.

And thanks again for all the work on resolving these issues

[2022-04-12 11:17] M0r13n commented on #63
@Inrixia

Here you go: https://github.com/M0r13n/pyais/pull/64

[2022-04-13 04:13] freol35241 commented on #63
Hi @M0r13n and @Inrixia, regarding your discussion on `turn` vs `rate_of_turn`. I dont understand how this conversion differs in any way from for example `speed`, `lat` and `lon`? Why is the raw value kept for the `turn` field and not for the other fields?

For consistency, and better usability, I suggest to also make this conversion during decoding/encoding in pyais.

[2022-04-13 12:27] M0r13n commented on #63
This is actually a good question. I do not see any problems. Do you  @Inrixia ?

[2022-04-13 12:30] Inrixia commented on #63
@M0r13n is turn actually a useful value without performing the conversion? I haven't needed to use (yet) it so didn't mind leaving it be, but if it's useless without the conversion may as well just convert it.

[2022-04-14 10:33] M0r13n commented on #63
@Inrixia Did you have the chance to look at the PR? I would like to merge it, but would appreciate if you take a look at it.

[2022-04-14 10:35] Inrixia commented on #63
I haven't been able to check everything yet but I have looked over the changes and they look good. If you want to merge then feel free to. I'll double check all the types etc sometime soon.

[2022-04-14 11:18] #63 closed

[2022-04-20 11:30] Inrixia commented on #63
Just ran a bunch of tests and using the new types, so far looking great!
Thanks again

[2022-04-20 17:41] M0r13n commented on #63
Great to hear!

[2022-04-21 13:12] princeje opened #65 "Messagetype27 lat/long should be signed"
https://github.com/M0r13n/pyais/blob/21da419607a512256e3cfe9abc852738aa8c2599/pyais/messages.py#L1362-L1363

Discovered this while testing, seemed my numbers were off by half and never negative. Doing more testing today. I'm no ais expert but it seems like a bug.

[2022-04-24 12:17] M0r13n commented on #65
Thanks for bringing this up. I checked this and it seems that your are right. I am going to fix this.

[2022-04-24 12:19] #65 closed

[2022-05-07 11:43] anttinousiainen commented on #17
Actually AIS messages do have the UTC timestamp embedded, sort of.

Coarse UTC timestamp (hours and minutes) is embedded into the SOTDMA "radio state" fields (19 bits) in eg. message types 1, 2 and 3 among others - thought not every message carries it, it is interleaved with slot numbers and such.

Would be nice for the library to decode this field also, as it could be used for example to detect m

[2022-05-07 11:45] anttinousiainen commented on #17
And observing this coarse UTC timestamp and the slot number in question (1 - 2250), a pretty accurate UTC timestamp can be deduced from the AIS messages.

In fact, this is one of the failover modes for timesync in the real AIS transmitters, if I understand correctly.

[2022-05-07 12:14] anttinousiainen commented on #17
I am not really a python person, but a really quick and dirty minimal test code I wrote in few minutes:

`
mask2 = 0x03
mask3 = 0x07
mask5 = 0x1f
mask7 = 0x7f
mask14 = 0x3fff

if (decoded.msg_type == 1 or decoded.msg_type == 2):

                              # rad2 here indicates the station sync state, 0=direct utc, 1=indirect utc and so on:
                              rad2  = (decoded.radio >

[2022-05-07 14:53] Inrixia commented on #17
Are these fields not already present? Afik the decoder currently provides hours/minutes etc.

[2022-05-07 16:06] anttinousiainen commented on #17
For the AIS messages, say message type 1?

Not the version I have at least does not, it only decodes a raw radio-status field as a number, not what that number represents. Do I have an older version maybe then and need to update?

`
MessageType1(msg_type=1, repeat=0, mmsi=227006760, status=<NavigationStatus.UnderWayUsingEngine: 0>, turn=None, speed=0.0, accuracy=False, lon=0.13138, lat=49.475577,

[2022-05-08 14:12] M0r13n commented on #17
Hey @anttinousiainen,

I believe that the original author had something else in mind. He wanted a timestamp to be added as soon as the library received a message via a socket. Instead, you are talking about the UTC timestamp of SOTDMA messages.

Never the less I think that your suggestion it is a nice feature. I decided to add support to get the SOTDMA communication state from the raw radio field.

[2022-05-08 15:12] anttinousiainen commented on #17
Hey @M0r13n,

Great, thanks, looks good and is a welcome addition to observing real-time AIS-traffic, like for example as mentioned at spotting missed transmissions.

However, worth noting, not all radio states are always SOTDMA. For example message_type 18 has a "communication state selector flag" bit, that describes whether radio_state following is SOTDMA or ITDMA, with different structure and m

[2022-05-15 14:54] #17 closed

[2022-05-16 13:38] DarekB62 opened #70 "Incorect fill bits"
There are errors in messages generated by pyais:

[code]
It should be:

[code]

_Number of fill bits_ on the first line is **...,2*45**. Proper value is **...,0*41**.
It is probably allways 0 on the first line of multiline messages.

[2022-05-21 11:07] M0r13n commented on #70
@DarekB62 I think that this is already fixed with: https://github.com/M0r13n/pyais/pull/69

So you should be set by installing pyais version 2.1.2:

`pip install -U pyais`

[2022-05-21 11:07] #70 closed

[2022-06-02 09:14] ambroisernd opened #71 "pyais v2"
Hello,

what is is projet : https://pypi.org/project/pyais-2/#description ? It implements NMEASorter in message.py (not very robust tho)

Ambroise

[2022-06-02 09:17] M0r13n commented on #71
what?

[2022-06-02 09:38] ambroisernd commented on #71
`class NMEASorter:

    def __init__(self, messages: typing.Iterable[bytes]):
        self.unordered = messages

    def __iter__(self) -> typing.Generator[bytes, None, None]:
        buffer: typing.Dict[typing.Tuple[int, bytes], typing.List[typing.Optional[bytes]]] = {}

        for msg in self.unordered:
            # decode nmea header

            parts = msg.split(b',')
            if len(par

[2022-06-04 12:01] M0r13n commented on #71
I think that I understand.

pyais was a experiment of mine to work around breaking changes in pyais. But I ultimately decided to just release version 2.0.0 of pyais. But I never actually deleted `pyais-2`. I have now made up for this and deleted this project from PyPi.

The `NMEASorter` was present in `pyais` until version 2.0.0. I removed this class because it was not working correctly.

In curre

[2022-06-07 04:44] #71 closed

[2022-07-07 20:53] bgercken opened #73 "Is ROT(Turn) decoding properly?"
Hello,

I am seeing a lot of sentences where the value for "turn" is being set to None, which is causing them to equal `<null>` when I store them. Using some of the lines from your decode.py example:

[code]

For both sentence we gate a value of **None** for turn:

[code]

From an online decoder (http://ais.tbsalling.dk/) using the same sentence(s) we get a value of no turn information available:

[2022-07-08 17:53] bgercken commented on #73
Closing this issue as it is a non-issue. I made a local copy and adjusted the code to return a value rather than None for the -127/-128 use case. The change is specific to the work that I am doing. Thanks.

[2022-07-08 22:29] bgercken commented on #73
Now I have a new question to consider. It appears that you may be rounding the product before squaring it when converting from the raw value to the decoded field value.

[code]
Thanks.

[2022-07-09 13:23] M0r13n commented on #73
Hey @bgercken,

a lot going on here. I try to answer your questions 1 by 1 :-D.

This is intentional. [Turn rate is encoded as follows ](https://gpsd.gitlab.io/gpsd/AIVDM.html#_types_1_2_and_3_position_report_class_a):

- 0 = not turning
- 1…​126 = turning right at up to 708 degrees per minute or higher
- 1…​-126 = turning left at up to 708 degrees per minute or higher
- 127 = turning right at mor

[2022-07-09 13:23] #73 closed

[2022-07-09 13:24] M0r13n commented on #73
Closed by https://github.com/M0r13n/pyais/pull/74/files

[2022-07-11 14:24] anttinousiainen opened #75 "Decoding AIS message type 5, class A static data"
I receive AIS messages on Icom m605 VHF radio and forward them to OpenCPN. All the targets around show fine and with full metadata there.

I decode the same stream of messages with pyais, log the messages and count the message types for statistics. However, it seems my counter for message type 5 (class A static data) seems to not increase, and my counter for decoding errors does. All the other mes

[2022-07-11 20:58] #75 closed

[2022-07-13 07:45] poljvd opened #76 "A (debugging?) print statement is present in code"
The turnrate is being printed to the console every time it is present in a message. That should not be the case.

See the offending line here:
https://github.com/M0r13n/pyais/blob/56e42c6e336792c6ec92827be9834b2d1e85ed10/pyais/messages.py#L543

[2022-07-14 08:53] M0r13n commented on #76
@poljvd

Jep. That definitely should not be there.

[2022-07-14 12:53] poljvd commented on #76
Thx for the quick fix. My console is clean again! :-)

[2022-07-14 13:59] M0r13n commented on #76
Great! :laughing:

[2022-07-14 13:59] #76 closed

[2022-07-14 14:33] anttinousiainen commented on #75
I can try - though I already fixed this on my end by only feeding pyais AIVDM messages.

I have a few Ublox F9 Gnss receivers configured for multiple moving baseline RTK (for boat heading), so some messages involved are rather esoteric and not likely to be encountered that often elsewhere... I would not really count it as a bug, if they mess up things :)

[2022-08-06 04:28] cmslzs opened #77 "Message decoding failed"
![dcode_error](https://user-images.githubusercontent.com/49859201/183233759-d5c44e10-ddff-424f-98b2-eccca69f7e40.jpg)

[2022-08-06 04:29] cmslzs commented on #77
Message decoding failed. Please check what is wrong, Thanks!

[2022-08-06 11:30] M0r13n commented on #77
The error message is pretty clear. You passed a multi part message - several NMEA messages form a single AIS message - to the `decode` method. But you only passed the first part. Therefore, the message payload can not be decoded, because it missing parts of its content.

You can see this in the message itself. The message starts with `!AIVDM,2,1,1,B`, which means:

- `!AIVDM` identifies the messag

[2022-08-06 11:30] #77 closed

[2022-08-09 09:22] cmslzs commented on #77
a nmea message needs to have exactly 7 comma separated，
How do I need to correctly splice to analyze? Please tell me. I just got in touch with it and don't understand it
thanks

[2022-08-14 14:08] M0r13n opened #78 "Custom error message to help get bug reports"
There are likely some bugs in this lib that only occur under special circumstances. In order to motivate people to report such bugs, it would to nice to have a custom error message that links to this Github repo.

[2022-08-30 00:14] AlexJRC opened #79 "Only one attribute of decode"
How I take just only the attribute of decode ?. For example, I use the code:

[code]
, but **I want print only lat or long**, and not all datas.

[2022-08-30 13:58] #79 closed

[2022-08-31 15:49] MikeyJ4 opened #80 "Urgent need"
Nice project...
Though am not a python dev but i strongly believe if you have reached the level of decoding ais that's shows a better understanding.

Well am a Java dev building an app related to ais... i have some questions i will like to ask can you privately please chat me up mikeshedrack88@gmail.com

[2022-08-31 19:44] M0r13n commented on #80
@MikeyJ4 if you have any questions regard this module please ask them in this issue. :-)

[2022-08-31 20:12] MikeyJ4 commented on #80
It's not related to this module else i will open up

[2022-09-01 05:23] M0r13n commented on #80
Then I will close this issue.

I looked at the other issues in other repositories opened by you. It seems that you are looking for help with a school project. I don’t think that Issues in Github are a good idea for that. You should be asking your questions at Stackoverflow.

For details about the AIS protocol I suggest looking at: https://gpsd.gitlab.io/gpsd/AIVDM.html

[2022-09-01 05:23] #80 closed

[2022-09-07 09:47] MikeyJ4 commented on #80
I have asked one of my  the questions on stackoverflow  as you suggested below is the link you can assist

https://stackoverflow.com/questions/73625156/class-a-ais-transponder-nmea-message-logs

[2022-09-26 17:30] bgercken opened #81 "Encoding large (Type 5) messages causes NMEA max message length to exceed 82 characters."
Was running into an issue in encode.py ais_to_nmea_0183 where it was causing messages to exceed the NMEA max size.

On line 54 (in encode.py) I changed max_len to 60, which seems to have resolved it.

Thanks.

[2022-09-27 16:09] M0r13n commented on #81
@bgercken Thank you for bringing this up. I will look at this but as soon as time allows. But it might take a couple of days.

[2022-09-27 16:18] bgercken commented on #81
No hurry on my part. Thank you very much.

[2022-09-28 16:20] chhs2131 opened #82 "Is the checksum check not commonly used?"
Hi.
First of all, thank you for making a good library.

While using `decode()` in this library, I found that checksum check was not performed. (I proceeded with decoding by changing only the 'checksum' field.)
The output was printed by adding `print(nmea.is_vailed)` to `_assamble_messages()` belonging to `decode.py`. It seems that the result of `False` should be `raise`, but all decoding proceeds

[2022-09-29 01:12] Inrixia commented on #82
Not throwing allows for still being able to work with decoded data even if the checksum fails. If you wanted to raise on a invalid checksum then you should be able to just include that check in your decoding pipeline.

[2022-10-01 13:29] M0r13n commented on #81
@bgercken

Could you provide me some example that led to this issue? I am not able to reproduce the described behavior.

[2022-10-01 13:52] M0r13n commented on #82
Yes, @Inrixia is right. This library tends to be liberal in what it accepts. There are reasons for that:

This library is often used for data analysis. This means that a researcher analyzes large amounts of AIS messages. Such message streams might contain thousands of messages with invalid checksums. Its up to the researcher to decide whether he/she wants to include such messages in his/her analys

[2022-10-02 00:12] Inrixia commented on #82
Couldn't have said it better myself, this is also why this library supports returning `None` for properties that failed to decode allowing decoding of partial or incomplete messages. Which is a critical feature I have found as lots of AIS data I have worked with may have just the last bit of a message missing but otherwise be completely sound.

@chhs2131 If you have any further questions feel free

[2022-10-02 06:51] #82 closed

[2022-10-02 12:07] M0r13n commented on #82
See https://github.com/M0r13n/pyais/pull/83

[2022-10-02 16:02] bgercken commented on #81
@M0r13n  - Leon, my apologies. It appears that I must have an error in my code. I wrote a test for my data that passed and then added some additional debug to my code and the length of the sentence that you create while encoding is correct. Sorry for taking up some of your time. Regards.

[code]

[2022-10-02 16:40] bgercken commented on #81
I had closed this but I was wrong. Not sure that I can reopen...

Updated test fails:

[code]

[2022-10-02 18:48] M0r13n commented on #81
Thank you. I am pretty sure that I forgot to include the final <LF> terminator when calculating the total length of a message. I will fix this tomorrow.

[2022-10-03 09:43] M0r13n commented on #81
@bgercken

You were right. The max payload length should be set to 60 and not 61. The docstring of the relevant method actually mentions [this](https://github.com/M0r13n/pyais/blob/9a49a33890f30a2827ff4dafdfa7a6d924cab539/pyais/encode.py#L41):

[code]

But then the implementation sets `max_len` to 61 ([see](https://github.com/M0r13n/pyais/blob/9a49a33890f30a2827ff4dafdfa7a6d924cab539/pyais/encode.

[2022-10-03 10:13] #81 closed

[2022-10-03 14:34] M0r13n commented on #81
Should be fixed with version 2.2.1

[2022-10-08 07:58] icoco opened #85 "failed parse some MessageType5 data , it throw 'MissingMultipartMessageException'"
face this problem, the  decode.py  code logic bellow:

[code]
while parse string :
!AIVDM,2,1,6,A,55MwgS`00001L@?;OK8<P58hE>0b0<Dp4>22220l1@:44vT4,0*6B

it throw exception:

[code]

what is the reason ?

if I comment the check logic ,  then   all things works fine ,  anyone can give tip for this case ?

[2022-10-08 08:09] mihermans commented on #85
Like the message indicates, it misses the second part of the multipart message.
This message should start with !AIVDM,2,2,6..... in this case (the first digit indicates it is a multipart and the second digit if it is the first or second part of the message, the third digit indicates which messages belong together)

[2022-10-08 09:13] icoco commented on #85
I use other way then no error report, the code below:
[code]

@mihermans
so, your meaning is the original data is wrong format ?

[2022-10-08 14:23] M0r13n commented on #85
@mihermans is totally right. The error is pretty clear: You are trying to decode a multi fragment message. Such messages are too big to fit into the 82 character maximum of NMEA 0183 messages. Therefore, long messages are fragmented into multiple fragments. In order to decode a fragmented message, all fragments need to be assembled **before the message is decoded**.

Imagine that you want to send

[2022-10-08 14:23] #85 closed

[2022-10-08 15:56] icoco commented on #85
so then, how to solve this issue ?  sorry maybe my question is stupid  :-|

[2022-10-08 17:02] M0r13n commented on #85
This is not an issue. This is expected behavior. You need to pass both parts the decode function - not just the first

[2022-10-09 08:03] icoco commented on #85
got it...  thanks all

[2022-10-11 11:30] pgorczak opened #86 "Different payload after decode/encode roundtrip"
First of all thanks for maintaining this fantastic project!

I am currently trying to generate some mock NMEA data by modifying fields in an existing data stream. That requires a decode/encode roundtrip (followed by another decode later on).

I noticed that the NMEA sentences change, even when not modifying the AIS data. After decoding another time, the AIS data is also different.

# Example

**ex

[2022-10-11 15:25] pgorczak commented on #86
I got a bit closer to the issue, the logic in [messages.Payload.to_bitarray](../blob/9a49a33890f30a2827ff4dafdfa7a6d924cab539/pyais/messages.py#L380) skips `None` fields so they don't show up in the serialized payload. Here, `None` is interpreted as "skip this data while serializing".

It is used in another way in the [messages.from_turn](../blob/9a49a33890f30a2827ff4dafdfa7a6d924cab539/pyais/mess

[2022-10-11 15:39] pgorczak commented on #86
The [messages.Payload.from_bitarray](../blob/9a49a33890f30a2827ff4dafdfa7a6d924cab539/pyais/messages.py#L435) function did not indicate a problem, but this might be intended. As far as I can tell, it
* assigns `None` to fields that start past the length of the input payload,
* uses as many bits as there are left for a field that starts within the input payload but goes past its end.

In my example

[2022-10-11 16:05] pgorczak commented on #86
Here's another snipped highlighting what's happening

[code]
**Output**
[code]

So, the input message contains a 128 decimal in the turn field (no info) and those 8 bits get snipped out of the re-serialized data.

[2022-10-11 16:25] pgorczak commented on #86
There's another implication for Message 21's final *name_ext* field. Looks like it can be between 0 and 88 Bits long. The current implicit conversion of missing Bits -> `None` and `None` -> no Bits works but we might want to keep it in mind when fixing this issue.

[2022-10-13 09:28] pgorczak commented on #86
Thanks, that definitely fixes it for me! I like the idea of encoding the special values as enums.

Just one addition, unrelated to this issue: when I inspect MessageX instances, the special turn values have been converted to floats. I thinks that might be due to the attrs library, since the `bit_field` the `to_turn` function acts as a converter on is declared as a `float` attribute.

[2022-10-13 09:32] #86 closed

[2022-10-13 14:52] M0r13n commented on #86
This isn't any issue. As a user, I don't know what type of value I might get for `turn` in advance. Therefore, I always need to check for special cases like that:

`assert decoded.turn == TurnRate.NO_TI_DEFAULT`

and this is True if the value is both `-128` or `-128.0`.

[2022-10-13 15:00] M0r13n commented on #86
This fix is released in version **2.2.2***

[2022-11-03 16:22] pa36651 opened #88 "Proposal for update"
I use this code to decode nmea0183 data (!AIVD...) collected from the AIS-reciever in my boat. Sometimes the message get errors. When the pyais try to decode the corrupted AIS-message, the code stop with a message as follows.
Traceback (most recent call last):

  File "C:\Users\Asus\OneDrive\Documents\__Python\decode_AIS\decode_AIS.py", line 93, in <module>
    for msg in FileReaderStream(filename

[2022-11-04 12:29] M0r13n commented on #88
Hey @pa36651 ,

technically, your message is invalid, because the payload contains a `!` character. This is not allowed according to the NMEA 0183 specification. Therefore, this causes an error.

But I think that it is safe to ignore this error. True to the motto "Be liberal in what you accept", I think that we should not raise an error in these situations. Only non printable characters should res

[2022-11-04 16:30] pa36651 commented on #88
Thank you!
I find the pyais very nice!

[2022-11-04 16:39] M0r13n commented on #88
Nice, thank you! 👍

[2022-11-04 16:39] #88 closed

[2022-11-06 18:55] pa36651 commented on #88
I updated to 2.2.3 of pyais. I'm sorry to say that the issue seems to remain. I added the proposed code with try/except, but the error is set already at the line `for msg in FileReaderStream(str(filename)):`

Attached some logg-files that I want to decode (SXKH22_3.tx, SXKH22_4.txt), and my code (decode_AIS_test.py).
The thing is that at least my AIS transponder doesn't seem to do any filtering om

[2022-11-12 15:04] M0r13n commented on #88
Not quite. If you look closely, you can see that the error slightly differs.

Nevertheless, this is undesired behavior.  I fixed it with v2.2.4. :-)

[2022-11-14 06:48] nonmeeboon opened #90 "TypeError: 'dict' object is not callable"
Hello,
I'm trying to use the decode function by following through the example code but end up getting the error saying "TypeError: 'dict' object is not callable".  This is code:
decoded_s = decode("!AIVDM,1,1,,B,15NG6V0P01G?cFhE`R2IU?wn28R>,0*05")

May be it's something that I did not set up correctly. Can you please give me an advice on how to fix this issue? Thank you very much.

[2022-11-14 08:55] ls-lheea-semrev commented on #90
Hi,

You have to use a NMEAMessage object (see [README](https://github.com/M0r13n/pyais#readme))

`
import pyais

message = pyais.NMEAMessage(b"!AIVDM,1,1,,B,15NG6V0P01G?cFhE`R2IU?wn28R>,0*05")
decoded = message.decode()
data = decoded.asdict()
`

[2022-11-15 02:21] nonmeeboon commented on #90
Thank you! It's working great now.

[2022-11-15 02:21] #90 closed

[2022-11-25 14:22] SiggyF opened #91 "Gatehouse wrapper messages feature"
Some AIS messages have so-called Gatehouse wrappers. These encapsulating messages contain extra information, such as time and checksums. Some readers also process these. See some more documentation [here](https://www.iala-aism.org/wiki/iwrap/index.php/GH_AIS_Message_Format).

We have created a small mixin that allows for storing this extra information. We also added an extra message type to parse

[2022-11-25 14:48] M0r13n commented on #91
@SiggyF

Thank you!

I saw such messages already, but I never found the time to actually look at them in detail. So I glad that you did. I will take a look at your PR this weekend. :smile:

[2022-11-27 12:11] M0r13n commented on #91
I took a look at your PR. Overall, I liked your suggested changes. But there are some details, that I would have done differently:

- tests are missing or the existing tests even fail
- you added a `PGHPMessage` class as a mixin to every AIS message
- assertions are not a very good practice, because these are removed if optimizations are requested from Python

So, I played a bit around with your c

[2022-11-27 12:23] Inrixia commented on #91
Will take a look when I get the time 👍